/* Header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --color-131921 : #131921;
    --color-e1ad21 : #e1ad21;
    --color-232f3e : #232f3e;
    --color-bf4800 : #bf4800;
}
body{
    font-family: "Mukta Malar", sans-serif;
}
.form-control:focus{
    box-shadow: none;
    border-color: inherit;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-30{
    gap: 30px;
}
.button{
    background-color: var(--color-232f3e);
    color: white;
    padding: 13px 33px;
    font-size: 14px;
    border-radius: 25px;
}
.button:hover{
    background-color: var(--color-e1ad21);
    color: #131921;
}
a{
    text-decoration: none;
    display: inline-block;
}

.header-top-stripe {
    border-bottom: 1px solid var(--color-e1ad21);
    background-color: var(--color-131921);
}

.header-upper{
    background-color: var(--color-131921);
    padding: 10px 20px;
}
.header-upper .header-upper-links img{
    width: 35px;
    height: 35px;
}
.header-bottom{
    background-color: var(--color-232f3e);
    padding: 10px 20px;
}
.header-bottom .menu-links a,
.header-bottom .dropdown button ,
.header-bottom .dropdown-menu li a{
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
    text-transform: uppercase;
}
.header-bottom .dropdown button:focus{
    box-shadow: none;
}
.header-bottom .dropdown-menu{
    background-color: var(--color-131921);
    width: 100%;
    transform: translate3d(0px, 45px, 0px) !important;
}
.header-bottom .dropdown-item{
    padding: 20px;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--color-232f3e);
}
.header-bottom .dropdown-item:hover{
    background-color: transparent;
    color: var(--color-e1ad21) !important;
}
@media screen and (max-width: 768px) {
  .header-upper .col-2 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .header-upper .col-5 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  

  .header-bottom .menu-bottom {
    flex-direction: column;
  }

  .header-bottom .menu-links {
    display: none; /* Hide the menu links */
  }
}
@media screen and (max-width: 768px) {
    .header-upper .col-5 .header-upper-links.mobile-icons {
      display: flex;
      justify-content: flex-end;
    }
  
    .header-upper .col-5 .header-upper-links.mobile-icons span {
      margin-left: 10px; /* Add space between icons */
      cursor: pointer; /* Add pointer cursor for better UX */
    }
  
    .header-upper .col-5 .header-upper-links.mobile-icons span:last-child {
      margin-right: 0; /* Remove right margin for the last icon */
    }
  }
  

/* Header end */
/* Fotter */

footer{
    background-color: var(--color-232f3e);
}
footer:not(:first-child){
    border-top: 1-x solid rgba(255,255,255,0.1);
}

footer .input-group{
    background-color: var(--color-131921);
    color: white;
    padding: 8px 17px;
}

/*Home page */
.main-banner-content{
    top:10%;
    left: 5%;
}
.main-banner-content h4{
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4800);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.main-banner-content h5{
    font-size: 42px;
    line-height: 54px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
}
.main-banner-content p{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4;
    color: var(--color-131921);
}


.small-banner-content{
    top:10%;
    left: 5%;
}
.small-banner-content h4{
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4800);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.small-banner-content h5{
    font-size: 42px;
    line-height: 54px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
}
.small-banner-content p{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4;
    color: var(--color-131921);
}