*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --color-131921 : #131921;
    --color-e1ad21 : #e1ad21;
    --color-232f3e : #232f3e;
}
body{
    font-family: "Mukta Malar", sans-serif;
}
.form-control:focus{
    box-shadow: none;
    border-color: inherit;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
a{
    text-decoration: none;
    display: inline-block;
}

.header-top-stripe {
    border-bottom: 1px solid var(--color-e1ad21);
    background-color: var(--color-131921);
}

.header-upper{
    background-color: var(--color-131921);
}
.header-upper .header-upper-links img{
    width: 35px;
    height: 35px;
}
.header-bottom{
    background-color: var(--color-232f3e);
}